# Directories
CMakeFiles/temp.elf.dir/
CMakeFiles/
cmake-build-debug/
out/

CmakeCache.txt
./rc_remote.map

# Test junk
Tests/bin
Tests/CMakeFiles
Tests/googletest
Tests/lib
Tests/CmakeCache.txt
Tests/cmake_install.cmake
Tests/Makefile
Tests/utest

# Vsc files
.vscode/*.log
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.DS_Store

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

workspace.code-workspace

build/compile_commands.json

build/
